.logog{
    margin-left: 10px;
}

.navbar-brand{
    margin-left: 100px;
}

.sidenav---sidenav---_2tBP {
    background: #212529;
}

#searchbox{

}

#logot{
    margin-right:50px;
}

#textcolor{
    color:white;
}

#logoutbttn{
    margin-left:800px;
}

#searchinput{
    margin-left:30px;
}